body{
    background-color: beige;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

header{
    background: red;
    box-shadow: 1px 2px 20px 0px grey;
    color: aliceblue;
    font-weight: bold;
    margin: 0%;
    padding: 0px;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid;
    margin: 0px auto;
}

#footer{
    background: gray;
    color: aqua;
    text-align: center;
    border: 1px solid blue;
}
